# Metodo loc() y iloc()

#### Son para seleccionar data.

#### loc()  esta basado en nombres (etiquetas), por lo que tenemos que especificar filas y columnas usando el nombre del index/fila y columna.

#### iloc() esta basado en la posicion numerica entera, por lo que tenemos que especifficar  filas y columnas usando el valor de su posicion entera (posicion empieza por el numero 0)

#### ejemplo 
#### df.loc[['zeo','two']]
#### df.iloc[[0,2]]
#### df.loc[['zeo' : 'two']]
#### df.iloc[[0 : 2]]

In [1]:
import pandas as pd

In [8]:
# leer archivo csv
df = pd.read_csv('players_20.csv')

In [9]:
# mostrar dataframe
df

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18273,245006,https://sofifa.com/player/245006/shuai-shao/20...,Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
18274,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
18275,252332,https://sofifa.com/player/252332/wei-zhang/20/...,Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
18276,251110,https://sofifa.com/player/251110/haijian-wang/...,Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
18277,233449,https://sofifa.com/player/233449/ximing-pan/20...,Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [11]:
# fijar columna como index 
df.set_index('short_name',inplace=True)

In [12]:
# mostrar dataframe
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [13]:
# seleccionar columnas
df[['long_name','age','dob','height_cm',
    'weight_kg','nationality','club']]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid
...,...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC

# Seleccionar elementos por nombre del index con loc()

In [19]:
# obtener toda la data sobre L.Messi
df.loc['L. Messi']

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

In [20]:
# obtener el tamaño de L.Messi
df.loc['L. Messi','height_cm']

170

In [21]:
# obtener el peso de Cristiano Ronaldo
df.loc['Cristiano Ronaldo','weight_kg']

83

In [22]:
# obtener todas las filas dentro de columna 'height_cm'
df.loc[:,'weight_kg']

short_name
L. Messi             72
Cristiano Ronaldo    83
Neymar Jr            68
J. Oblak             87
E. Hazard            74
                     ..
Shao Shuai           79
Xiao Mingjie         66
Zhang Wei            75
Wang Haijian         74
Pan Ximing           78
Name: weight_kg, Length: 18278, dtype: int64

In [23]:
# obtener todas las columnas que corresponde al index 'L.Messi'
df.loc['L. Messi',:]

sofifa_id                                                158023
player_url    https://sofifa.com/player/158023/lionel-messi/...
long_name                        Lionel Andrés Messi Cuccittini
age                                                          32
dob                                                  1987-06-24
                                    ...
lb                                                         63+2
lcb                                                        52+2
cb                                                         52+2
rcb                                                        52+2
rb                                                         63+2
Name: L. Messi, Length: 103, dtype: object

# Seleccionar con una lista de valores

In [27]:
# obtener data sobre L.Messi y Cristiano Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo']]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3

In [28]:
# obtener el tamaño de L.Messi y Cristiano Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],'height_cm']

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [30]:
# obtener el tamaño y peso de L.Messi
df.loc['L. Messi',['height_cm','weight_kg']]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [31]:
# obtener el tamaño y peso de L.Messi y Cristiano Ronaldo
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm','weight_kg']]

                   height_cm  weight_kg
short_name
L. Messi                 170         72
Cristiano Ronaldo        187         83

# Seleccionar un rango de data con un slice (rebanada)

#### start:stop:step (Nota: Contrariamente a las rebanadas tipicas en Python, 'start' y 'stop' en este caso son incluidos)

In [34]:
# hacer slice a nombre de columnas
players = ['L. Messi', 'Cristiano Ronaldo']
df.loc[players, 'age':'club']

,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,
L. Messi,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,34,1985-02-05,187,83,Portugal,Juventus

In [36]:
# hacer slice a los nombre de los index
columns = ['age','dob','height_cm','weight_kg']

# obtener los nombres de jugadores top1 y top10
df.index[:10]
df.loc['L. Messi':'M. Salah',columns]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83
Neymar Jr           27  1992-02-05        175         68
J. Oblak            26  1993-01-07        188         87
E. Hazard           28  1991-01-07        175         74
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
L. Modrić           33  1985-09-09        172         66
M. Salah            27  1992-06-15        175         71

# Seleccionar con condiciones

In [40]:
# una condicion: seleccionar jugadores con tamaño arriba de 180cm
columns = ['age','dob','height_cm','weight_kg']
df.loc[df['height_cm']>180,columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [41]:
# multiples condiciones: 
# seleccionar jugadores con tamaño arriba de 180cm
condiciones = (df['height_cm']>180)&(df['nationality']=='Argentina')
df.loc[condiciones, : ]

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
M. Icardi,201399,https://sofifa.com/player/201399/mauro-icardi/...,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter,85,...,53+3,52+3,52+3,52+3,53+3,51+3,50+3,50+3,50+3,51+3
G. Higuaín,167664,https://sofifa.com/player/167664/gonzalo-higua...,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus,85,...,53+3,52+3,52+3,52+3,53+3,49+3,47+3,47+3,47+3,49+3
E. Garay,170481,https://sofifa.com/player/170481/ezequiel-gara...,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF,83,...,71+3,76+3,76+3,76+3,71+3,72+3,80+3,80+3,80+3,72+3
N. Otamendi,192366,https://sofifa.com/player/192366/nicolas-otame...,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City,83,...,71+3,77+3,77+3,77+3,71+3,73+3,81+3,81+3,81+3,73+3
G. Rulli,215316,https://sofifa.com/player/215316/geronimo-rull...,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC,81,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
T. Durso,240955,https://sofifa.com/player/240955/tomas-durso/2...,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
J. Hass,247295,https://sofifa.com/player/247295/joaquin-hass/...,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón,54,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
R. Ferrario,245057,https://sofifa.com/player/245057/rafael-ferrar...,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
L. Finochietto,241099,https://sofifa.com/player/241099/leandro-finoc...,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors,53,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
N. Forastiero,246841,https://sofifa.com/player/246841/nicolas-foras...,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors,52,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Seleccionar elementos por posicion de index con .iloc()

In [42]:
import pandas as pd 
df = pd.read_csv('players_20.csv')
df.head()

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
1,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
2,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
3,200389,https://sofifa.com/player/200389/jan-oblak/20/...,J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,183277,https://sofifa.com/player/183277/eden-hazard/2...,E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3

####  Es lo mismo q loc pero en iloc se escribe el numero de la fila o columna q se desea obtener y no el nombre

In [43]:
df.set_index('short_name',inplace=True)

In [44]:
df

,sofifa_id,player_url,long_name,age,dob,height_cm,weight_kg,nationality,club,overall,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
short_name,,,,,,,,,,,,,,,,,,,,,
L. Messi,158023,https://sofifa.com/player/158023/lionel-messi/...,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,94,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2
Cristiano Ronaldo,20801,https://sofifa.com/player/20801/c-ronaldo-dos-...,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus,93,...,65+3,61+3,61+3,61+3,65+3,61+3,53+3,53+3,53+3,61+3
Neymar Jr,190871,https://sofifa.com/player/190871/neymar-da-sil...,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain,92,...,66+3,61+3,61+3,61+3,66+3,61+3,46+3,46+3,46+3,61+3
J. Oblak,200389,https://sofifa.com/player/200389/jan-oblak/20/...,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid,91,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
E. Hazard,183277,https://sofifa.com/player/183277/eden-hazard/2...,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid,91,...,66+3,63+3,63+3,63+3,66+3,61+3,49+3,49+3,49+3,61+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Shao Shuai,245006,https://sofifa.com/player/245006/shuai-shao/20...,邵帅,22,1997-03-10,186,79,China PR,Beijing Renhe FC,48,...,43+2,42+2,42+2,42+2,43+2,45+2,46+2,46+2,46+2,45+2
Xiao Mingjie,250995,https://sofifa.com/player/250995/mingjie-xiao/...,Mingjie Xiao,22,1997-01-01,177,66,China PR,Shanghai SIPG FC,48,...,44+2,43+2,43+2,43+2,44+2,46+2,47+2,47+2,47+2,46+2
Zhang Wei,252332,https://sofifa.com/player/252332/wei-zhang/20/...,张威,19,2000-05-16,186,75,China PR,Hebei China Fortune FC,48,...,47+2,49+2,49+2,49+2,47+2,47+2,49+2,49+2,49+2,47+2
Wang Haijian,251110,https://sofifa.com/player/251110/haijian-wang/...,汪海健,18,2000-08-02,185,74,China PR,Shanghai Greenland Shenhua FC,48,...,48+2,48+2,48+2,48+2,48+2,48+2,49+2,49+2,49+2,48+2
Pan Ximing,233449,https://sofifa.com/player/233449/ximing-pan/20...,潘喜明,26,1993-01-11,182,78,China PR,Hebei China Fortune FC,48,...,48+2,49+2,49+2,49+2,48+2,48+2,50+2,50+2,50+2,48+2

In [51]:
df_min = df[['long_name','age','dob','height_cm',
    'weight_kg','nationality','club']]

In [52]:
df_min.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [56]:
# obtener el tamaño de L.Messi
df_min.iloc[0,3]

170

In [59]:
# obtener el peso de Cristiano Ronaldo
df_min.iloc[1,4]

83

In [61]:
# obtener todas las filas dentro de columna 'height_cm'
df_min.iloc[:,3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Neymar Jr            175
J. Oblak             188
E. Hazard            175
                    ...
Shao Shuai           186
Xiao Mingjie         177
Zhang Wei            186
Wang Haijian         185
Pan Ximing           182
Name: height_cm, Length: 18278, dtype: int64

In [62]:
# obtener todas las columnas que corresponden al index 'L. Messi'
df_min.iloc[0,:]

long_name      Lionel Andrés Messi Cuccittini
age                                        32
dob                                1987-06-24
height_cm                                 170
weight_kg                                  72
nationality                         Argentina
club                             FC Barcelona
Name: L. Messi, dtype: object

# Seleccionar con una lista de valores

In [67]:
# obtener data sobre L.Messi y Cristiano Ronaldo
df_min.iloc[[0,1],:]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [68]:
# obtener el tamaño de L.Messi y Cristiano Ronaldo
df_min.iloc[[0,1],3]

short_name
L. Messi             170
Cristiano Ronaldo    187
Name: height_cm, dtype: int64

In [71]:
# obtener el tamaño y peso de L.Messi
df_min.iloc[0,[3,4]]

height_cm    170
weight_kg     72
Name: L. Messi, dtype: object

In [66]:
# obtener el tamaño y peso de L.Messi y Cristiano Ronaldo
df_min.iloc[[0,1],[3,4]]

# Seleccionar un rango de data con un slice (rebanada)

In [73]:
# hacer slice a nombre de columnas
# players = ['L. Messi','Cristiano Ronaldo']
df_min['L. Messi':'Cristiano Ronaldo']

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus

In [83]:
# hacer slice a los nombre de los index
# columns = ['age','dob','height_cm','weight_kg']
df_min.iloc[0:2,1:5]

                   age         dob  height_cm  weight_kg
short_name
L. Messi            32  1987-06-24        170         72
Cristiano Ronaldo   34  1985-02-05        187         83

# Selecting with conditions

####  iloc no puede aceptar una serie booleana, pero si puede aceptar una lista booleana. Tenemos que usar la funcion list() para convertir una Serie a una lista.

In [92]:
# una condicion : seleccionar jugadores con tamaño arriba de 180cm
columns = [1,2,3,4]
df_min.iloc[list(df_min['height_cm'] > 180),columns]

                   age         dob  height_cm  weight_kg
short_name
Cristiano Ronaldo   34  1985-02-05        187         83
J. Oblak            26  1993-01-07        188         87
K. De Bruyne        28  1991-06-28        181         70
M. ter Stegen       27  1992-04-30        187         85
V. van Dijk         27  1991-07-08        193         92
...                ...         ...        ...        ...
P. Martin           20  1999-01-05        188         84
Shao Shuai          22  1997-03-10        186         79
Zhang Wei           19  2000-05-16        186         75
Wang Haijian        18  2000-08-02        185         74
Pan Ximing          26  1993-01-11        182         78

[9744 rows x 4 columns]

In [97]:
# multiples condiciones: 
# seleccionar jugadores con tamaño arriba de 180cm y Argentinos
df_min.iloc[list((df['height_cm']>180)&
                 (df['nationality']=='Argentina')), : ]

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
M. Icardi,Mauro Emanuel Icardi Rivero,26,1993-02-19,181,75,Argentina,Inter
G. Higuaín,Gonzalo Gerardo Higuaín,31,1987-12-10,186,89,Argentina,Juventus
E. Garay,Ezequiel Marcelo Garay,32,1986-10-10,189,90,Argentina,Valencia CF
N. Otamendi,Nicolás Hernán Otamendi,31,1988-02-12,183,81,Argentina,Manchester City
G. Rulli,Gerónimo Rulli,27,1992-05-20,189,84,Argentina,Montpellier HSC
...,...,...,...,...,...,...,...
T. Durso,Tomás Durso,20,1999-02-26,185,80,Argentina,Gimnasia y Esgrima La Plata
J. Hass,Joaquín Hass,21,1998-03-27,186,88,Argentina,Club Atlético Colón
R. Ferrario,Rafael Ferrario,19,2000-04-30,186,76,Argentina,Club Atlético Huracán
L. Finochietto,Leandro Finochietto,22,1997-04-25,186,77,Argentina,Argentinos Juniors
N. Forastiero,Nicolás Forastiero,20,1998-07-16,182,79,Argentina,Argentinos Juniors

# Fijar nuevo valor para una celda dentro de un Dataframe

In [101]:
import pandas as pd 
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df = df[['long_name','age','dob','height_cm','nationality','club']]
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid

# Fijar valor a una celda

In [107]:
# actualizar altura de L. Messi
df.loc['L. Messi','height_cm'] = 175
df.iloc[0,3] = 175
# Mostrar Dataframe
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid

# Fijar valor a toda la columna

In [109]:
# fijar tamaño de 190 a todos los jugadores
df.loc[:,'height_cm'] = 175
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,175,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,175,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,175,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid

# Fijar valor a toda la fila

In [115]:
# obtener todas las columnas que corresponden 
# a jugadores rankeado ultimo en fifa
df.iloc[-1,:]

long_name                         潘喜明
age                                26
dob                        1993-01-11
height_cm                         175
nationality                  China PR
club           Hebei China Fortune FC
Name: Pan Ximing, dtype: object

In [117]:
# fijar valor nulo a todas las columnas que corresponden al jugador 
import numpy as np
df.iloc[-1,:] = np.nan

In [120]:
# mostrar dataframe
df

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,175.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,175.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,175.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,Belgium,Real Madrid
...,...,...,...,...,...,...
Shao Shuai,邵帅,22.0,1997-03-10,175.0,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22.0,1997-01-01,175.0,China PR,Shanghai SIPG FC
Zhang Wei,张威,19.0,2000-05-16,175.0,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18.0,2000-08-02,175.0,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,NaN,NaN,NaN,NaN,NaN,NaN

# Fijar valor a Multiples celdas

In [124]:
# fijar valor a todos los items que hacen match 
# con la lista de nombres
df.loc[['L. Messi','Cristiano Ronaldo'],['height_cm']] = 190

In [125]:
# mostrar dataframe
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32.0,1987-06-24,190.0,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34.0,1985-02-05,190.0,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26.0,1993-01-07,175.0,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,Belgium,Real Madrid

# Fijar valor para filas que cumplen una condicion

In [126]:
# fijar valor para filas que cumplen una condicion
columns = ['age','dob','height_cm','weight_kg']
df.loc[df['height_cm'] > 180 , columns] = 0

In [127]:
df.head()

,long_name,age,dob,height_cm,nationality,club,weight_kg
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,0.0,0,0.0,Argentina,FC Barcelona,0.0
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,0.0,0,0.0,Portugal,Juventus,0.0
Neymar Jr,Neymar da Silva Santos Junior,27.0,1992-02-05,175.0,Brazil,Paris Saint-Germain,NaN
J. Oblak,Jan Oblak,26.0,1993-01-07,175.0,Slovenia,Atlético Madrid,NaN
E. Hazard,Eden Hazard,28.0,1991-01-07,175.0,Belgium,Real Madrid,NaN

# Eliminar filas y columnas de un Dataframe

In [128]:
import pandas as pd 
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df = df[['long_name','age','dob','height_cm','nationality','club']]
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid

# Eliminar Fila

In [133]:
# eliminar una fila
# parametro axis = el 0 representa a las filas y el 1 a las columns
df.drop('L. Messi',axis=0)
# parametro index
df.drop(index=['L. Messi'])

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

In [134]:
# eliminar dos o mas filas y actualizar data (inplace=True)
df.drop(['L. Messi','Cristiano Ronaldo'],axis=0,inplace=True)

In [135]:
df

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,Germany,FC Barcelona
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

# Eliminar Columna

In [139]:
# eliminar una columna
# parametro axis
df.drop('long_name',axis=1)
# parametro columns
df.drop(columns=['long_name'])

,age,dob,height_cm,nationality,club
short_name,,,,,
Neymar Jr,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,28,1991-01-07,175,Belgium,Real Madrid
K. De Bruyne,28,1991-06-28,181,Belgium,Manchester City
M. ter Stegen,27,1992-04-30,187,Germany,FC Barcelona
...,...,...,...,...,...
Shao Shuai,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,26,1993-01-11,182,China PR,Hebei China Fortune FC

In [146]:
# eliminar columna por poscicion/index (eliminar ultima column)
df.drop(df.columns[[-1]],axis=1)

,long_name,age,dob,height_cm,nationality
short_name,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,Germany
...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR
Zhang Wei,张威,19,2000-05-16,186,China PR
Wang Haijian,汪海健,18,2000-08-02,185,China PR
Pan Ximing,潘喜明,26,1993-01-11,182,China PR

In [147]:
# eliminar dos o mas columns y actualizar data (inplace=True)
df.drop(['long_name','dob'],axis=1,inplace=True)

In [148]:
df.head()

               age  height_cm nationality                 club
short_name
Neymar Jr       27        175      Brazil  Paris Saint-Germain
J. Oblak        26        188    Slovenia      Atlético Madrid
E. Hazard       28        175     Belgium          Real Madrid
K. De Bruyne    28        181     Belgium      Manchester City
M. ter Stegen   27        187     Germany         FC Barcelona

# Crear muestra aleatoria con el metodo sample()

In [149]:
import pandas as pd 
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df = df[['long_name','age','dob','height_cm','nationality','club']]
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid

# sample()

In [159]:
# extraer 10 elementos aleatorios de la columna "nationality"
df['nationality'].sample(10,random_state=60)

short_name
D. Mertens             Belgium
K. Shibasaki             Japan
D. Foulquier            France
P. Strand               Norway
C. Gruezo              Ecuador
M. Silva               Uruguay
H. Campagnaro        Argentina
Zhao Keda             China PR
B. Mines         United States
M. Festa                 Italy
Name: nationality, dtype: object

In [162]:
# extraer 20% de muestra aleatoria del dataframe
df.sample(frac=0.2,random_state=999)

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
A. Feick,Arne Feick,31,1988-04-01,179,Germany,1. FC Heidenheim 1846
B. Manosalva,Brayan Manosalva,21,1997-07-14,185,Chile,CD Huachipato
Edigar Junio,Edigar Junio Teixeira Lima,28,1991-05-06,174,Brazil,Yokohama F. Marinos
G. Muzinga,Glody Ngonda Muzinga,24,1994-12-31,175,DR Congo,Dijon FCO
F. Al Birekan,Firas Al Birekan,19,2000-05-14,181,Saudi Arabia,Al Nassr
...,...,...,...,...,...,...
M. Kobylański,Martin Kobylański,25,1994-03-08,178,Poland,Eintracht Braunschweig
N. Contini,Nikita Contini,23,1996-05-21,190,Ukraine,Virtus Entella
L. Kalinić,Lovre Kalinić,29,1990-04-03,201,Croatia,Aston Villa
S. Ntshangase,Siphelele Ntshangase,26,1993-05-11,172,South Africa,Kaizer Chiefs
I. Vujica,Ivan Vujica,22,1997-04-20,180,Australia,Western United FC

In [165]:
# incrementar la muestra -> frac>1 
# (obs: el parametro replace tiene que ser True )
df.sample(frac=2,replace=True,random_state=33)

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
A. Aguilar,Abel Enrique Aguilar Tapia,34,1985-01-06,187,Colombia,Unión Magdalena
V. Janjičić,Vasilije Janjičić,20,1998-11-02,180,Switzerland,Hamburger SV
Dani Olmo,Daniel Olmo Carvajal,21,1998-05-07,179,Spain,Dinamo Zagreb
M. Škriniar,Milan Škriniar,24,1995-02-11,187,Slovakia,Inter
G. Lefebvre,Grégoire Lefebvre,25,1994-05-13,174,France,AS Nancy Lorraine
...,...,...,...,...,...,...
G. Gutiérrez,Germán Andrés Gutiérrez Henao,29,1990-01-16,170,Colombia,Junior FC
I. Ouédraogo,Issiaka Ouédraogo,30,1988-08-19,179,Burkina Faso,SKN St. Pölten
K. Gibbs,Kieran Gibbs,29,1989-09-26,179,England,West Bromwich Albion
K. Molino,Kevin Molino,29,1990-06-17,173,Trinidad & Tobago,Minnesota United FC
B. Kopplin,Björn Kopplin,30,1989-01-07,183,Germany,Randers FC

# Filtrar un dataframe con el metodo query()

In [2]:
import pandas as pd 
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df = df[['long_name','age','dob','height_cm','nationality','club']]
df.head()

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid

# query()

In [171]:
# seleccionar jugadores mayores a 34 años
df.query('age>34')

# ejercicio: escribir el equivalente slicing booleano
df[df['age']>34]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Z. Ibrahimović,Zlatan Ibrahimović,37,1981-10-03,195,Sweden,LA Galaxy
Pepe,Képler Laveran Lima Ferreira,36,1983-02-26,188,Portugal,FC Porto
G. Buffon,Gianluigi Buffon,41,1978-01-28,192,Italy,Juventus
Casillas,Iker Casillas Fernández,38,1981-05-20,185,Spain,FC Porto
F. Quagliarella,Fabio Quagliarella,36,1983-01-31,180,Italy,Sampdoria
...,...,...,...,...,...,...
N. Hunt,Nicky Hunt,35,1983-09-03,185,England,Crewe Alexandra
K. Ogi,荻 晃太,36,1983-05-05,185,Japan,Vissel Kobe
J. McCombe,Jamie McCombe,36,1983-01-01,196,England,Lincoln City
G. Maley,Gary Maley,36,1982-08-03,188,Scotland,Livingston FC
Zhou Ting,周挺,40,1979-02-05,182,China PR,Dalian YiFang FC

In [176]:
# seleccionar jugadores mayores a 34 años de Italia
df.query("age>34 and nationality=='Italy'")
# ejercicio: escribir el equivalente slicing booleano
df[(df['age']>34)&(df['nationality']=='Italy')]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
G. Buffon,Gianluigi Buffon,41,1978-01-28,192,Italy,Juventus
F. Quagliarella,Fabio Quagliarella,36,1983-01-31,180,Italy,Sampdoria
D. De Rossi,Daniele De Rossi,35,1983-07-24,184,Italy,Boca Juniors
A. Mirante,Antonio Mirante,35,1983-07-08,193,Italy,Roma
A. Diamanti,Alessandro Diamanti,36,1983-05-02,180,Italy,Western United FC
C. Maggio,Christian Maggio,37,1982-02-11,184,Italy,Benevento
D. Dainelli,Dario Dainelli,40,1979-06-09,191,Italy,Livorno
F. Marchetti,Federico Marchetti,36,1983-02-07,188,Italy,Genoa
F. Peluso,Federico Peluso,35,1984-01-20,188,Italy,Sassuolo
C. Terzi,Claudio Terzi,35,1984-06-19,180,Italy,Spezia
A. Rosina,Alessandro Rosina,35,1984-01-31,170,Italy,US Salernitana 1919
D. Maietta,Domenico Maietta,36,1982-08-03,184,Italy,Empoli
A. Cordaz,Alex Cordaz,36,1983-01-01,188,Italy,Crotone
S. Floccari,Sergio Floccari,37,1981-11-12,180,Italy,SPAL
M. Iori,Manuel Iori,37,1982-03-12,182,Italy,Cittadella
M. Stefani,Mirco Stefani,35,1984-01-25,180,Italy,Pordenone
G. Pegolo,Gianluca Pegolo,38,1981-03-25,183,Italy,Sassuolo
D. Gastaldello,Daniele Gastaldello,36,1983-06-25,185,Italy,Brescia
D. Moscardelli,Davide Moscardelli,39,1980-02-03,185,Italy,Pisa
E. Calaiò,Emanuele Calaiò,37,1982-01-08,179,Italy,US Salernitana 1919
D. Croce,Daniele Croce,36,1982-09-09,173,Italy,US Cremonese
A. Rosati,Antonio Rosati,36,1983-06-26,195,Italy,Torino
F. Mazzeo,Fabio Mazzeo,35,1983-07-24,177,Italy,Livorno
M. De Agostini,Michele De Agostini,35,1983-11-27,180,Italy,Pordenone
A. Pomini,Alberto Pomini,38,1981-03-17,185,Italy,Venezia FC
F. Evacuo,Felice Evacuo,36,1982-08-23,187,Italy,Trapani
G. Munari,Gianni Munari,36,1983-06-24,190,Italy,Parma
L. Pagliarulo,Luca Pagliarulo,35,1984-02-29,187,Italy,Trapani
C. Del Grosso,Cristiano Del Grosso,36,1983-03-24,171,Italy,Pescara
R. Vitiello,Roberto Vitiello,36,1983-05-08,176,Italy,Castellammare di Stabia
A. Bruno,Alessandro Bruno,35,1983-07-04,180,Italy,Pescara
T. Berni,Tommaso Berni,36,1983-03-06,185,Italy,Inter
P. Gori,Pier Graziano Gori,39,1980-05-10,189,Italy,Benevento
S. Farelli,Simone Farelli,36,1983-02-19,186,Italy,Pescara

In [178]:
# agregar un operador de negacion al primer ejemplo
df.query("not(age>34)")
# ejercicio: escribir el equivalente slicing booleano
df[df['age']!=34]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,Argentina,FC Barcelona
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

In [182]:
# convertir la altura a metros y seleccionar aquellos que 
# midan mas de 180
df.query("height_cm/100 > 1.8")
# ejercicio: escribir el equivalente slicing booleano
df[df['height_cm']>180]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,Portugal,Juventus
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,Germany,FC Barcelona
V. van Dijk,Virgil van Dijk,27,1991-07-08,193,Netherlands,Liverpool
...,...,...,...,...,...,...
P. Martin,Paul Martin,20,1999-01-05,188,Republic of Ireland,Waterford FC
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

In [198]:
# seleccionar jugadores que nacieron antes de 1990

# revisar el tipo de data
df.dtypes
# convertir el tipo de data de la columna "dob" a datatime
df['dob'] = df['dob'].astype('datetime64[ns]')
df['dob'].dt.year
# query
df.query("dob.dt.year > 1990")
# ejercicio: escribir el equivalente slicing booleano
df.loc[df['dob'].dt.year > 1990,:]

,long_name,age,dob,height_cm,nationality,club
short_name,,,,,,
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,Belgium,Real Madrid
K. De Bruyne,Kevin De Bruyne,28,1991-06-28,181,Belgium,Manchester City
M. ter Stegen,Marc-André ter Stegen,27,1992-04-30,187,Germany,FC Barcelona
...,...,...,...,...,...,...
Shao Shuai,邵帅,22,1997-03-10,186,China PR,Beijing Renhe FC
Xiao Mingjie,Mingjie Xiao,22,1997-01-01,177,China PR,Shanghai SIPG FC
Zhang Wei,张威,19,2000-05-16,186,China PR,Hebei China Fortune FC
Wang Haijian,汪海健,18,2000-08-02,185,China PR,Shanghai Greenland Shenhua FC
Pan Ximing,潘喜明,26,1993-01-11,182,China PR,Hebei China Fortune FC

# .apply()

In [6]:
import pandas as pd 
df = pd.read_csv('players_20.csv')
df.set_index('short_name',inplace=True)
df = df[['long_name','age','dob','height_cm','weight_kg','nationality','club']]
df.head()

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,187,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,175,68,Brazil,Paris Saint-Germain
J. Oblak,Jan Oblak,26,1993-01-07,188,87,Slovenia,Atlético Madrid
E. Hazard,Eden Hazard,28,1991-01-07,175,74,Belgium,Real Madrid

In [5]:
import numpy as np
# usar funcion de numpy y aplicar a la serie
df['age'].apply(np.sqrt)

short_name
L. Messi             5.656854
Cristiano Ronaldo    5.830952
Neymar Jr            5.196152
J. Oblak             5.099020
E. Hazard            5.291503
                       ...
Shao Shuai           4.690416
Xiao Mingjie         4.690416
Zhang Wei            4.358899
Wang Haijian         4.242641
Pan Ximing           5.099020
Name: age, Length: 18278, dtype: float64

In [7]:
# crear tu propia funcion y aplicar a el dataframe
# kg/m2 = indice de masa corporal
def calcular_imc(row):
    return row['weight_kg']/(row['height_cm']/100)**2

In [8]:
df.apply(calcular_imc,axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

# Funcion Lambda

In [11]:
# funcion basica
def sum_values(a,b):
    x=a+b
    return x

In [12]:
sum_values(2,3)

5

In [13]:
# funcion lambda (una linea)
sum_values_lambda = lambda a,b:a+b

In [14]:
sum_values_lambda(2,3)

5

# Apply + Funcion Lambda

In [19]:
# usar funcion lambda para convertir serie "height_cm" a metros
df['height_cm'].apply(lambda x:x/100)
# alternativa
df['height_cm']/100

short_name
L. Messi             1.70
Cristiano Ronaldo    1.87
Neymar Jr            1.75
J. Oblak             1.88
E. Hazard            1.75
                     ...
Shao Shuai           1.86
Xiao Mingjie         1.77
Zhang Wei            1.86
Wang Haijian         1.85
Pan Ximing           1.82
Name: height_cm, Length: 18278, dtype: float64

In [22]:
# usar funcion lambda para convertir sere "long_name" a mayuscula
df['long_name'].apply(lambda x:x.upper())
# alternativa con atributo str
df['long_name'].str.upper()

short_name
L. Messi                  LIONEL ANDRÉS MESSI CUCCITTINI
Cristiano Ronaldo    CRISTIANO RONALDO DOS SANTOS AVEIRO
Neymar Jr                  NEYMAR DA SILVA SANTOS JUNIOR
J. Oblak                                       JAN OBLAK
E. Hazard                                    EDEN HAZARD
                                    ...
Shao Shuai                                            邵帅
Xiao Mingjie                                MINGJIE XIAO
Zhang Wei                                             张威
Wang Haijian                                         汪海健
Pan Ximing                                           潘喜明
Name: long_name, Length: 18278, dtype: object

In [26]:
df['dob']= df['dob'].astype('datetime64[ns]')
# usar funcion lambda para obtener el año de la serie "dob"
df['dob'].apply(lambda x:x.year)
# alternativa con el atributo dt
df['dob'].dt.year

short_name
L. Messi             1987
Cristiano Ronaldo    1985
Neymar Jr            1992
J. Oblak             1993
E. Hazard            1991
                     ...
Shao Shuai           1997
Xiao Mingjie         1997
Zhang Wei            2000
Wang Haijian         2000
Pan Ximing           1993
Name: dob, Length: 18278, dtype: int32

In [27]:
# aplicar funcion lambda al dataframe para calcular IMC
df.apply((lambda x:x['weight_kg']/(x['height_cm']/100)**2),axis=1)

short_name
L. Messi             24.913495
Cristiano Ronaldo    23.735308
Neymar Jr            22.204082
J. Oblak             24.615211
E. Hazard            24.163265
                       ...
Shao Shuai           22.835010
Xiao Mingjie         21.066743
Zhang Wei            21.678807
Wang Haijian         21.621622
Pan Ximing           23.547881
Length: 18278, dtype: float64

# Hacer copia a un dataframe con copy()

## deep = True

In [31]:
# deep=True por defecto (las modificaciones a la data o indices)
df_copy = df.copy()

In [32]:
# actualizar valor en el dataframe original
df.loc['L. Messi','height_cm'] = 180

In [35]:
# copia vs dataframe original
df.head(1)
df_copy.head(1)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona

## deep = False

In [38]:
# deep =False (Cualquier cambio a la data original se refleja 
# en la copia)
df_shallow_copy = df.copy(deep=False)

In [39]:
# actualizar valor en el dataframe original
df.loc['Cristiano Ronaldo','height_cm'] = 200

In [41]:
# copia vs dataframe original
df.head(2)
df_shallow_copy.head(2)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus

## Asignacion simple

In [44]:
# hacer copia
df_new_copy = df

In [45]:
# actualizar valor en el dataframe original
df.loc['Neymar Jr','height_cm'] = 190

In [46]:
# copia vs dataframe original
df.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain

In [47]:
df_new_copy.head(3)

,long_name,age,dob,height_cm,weight_kg,nationality,club
short_name,,,,,,,
L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,180,72,Argentina,FC Barcelona
Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,34,1985-02-05,200,83,Portugal,Juventus
Neymar Jr,Neymar da Silva Santos Junior,27,1992-02-05,190,68,Brazil,Paris Saint-Germain